<a href="https://colab.research.google.com/github/sushantkumar143/Python-Toolbox-for-Data-Science/blob/main/Python_Basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
n = 5
res = "Positive" if n>0 else print("Negative") if n<0 else "Zero"
print(res)

Positive

In [4]:
n = 5
print("Positive" if n>0 else print("Negative") if n<0 else "Zero")

Positive

In [5]:
# Single Line Comment
'''
Multi Line Comment
'''

'\nMulti Line Comment\n'

In [8]:
# DATA TYPES
# NUMERIC DATA TYPE - int, float, complex
# SEQUENCE DATA TYPE - list, tuple, dictionary
x = 5
y = 3.14
z = "India"
k = True

print(k, type(k))
print(x ,type(x))
print(y, type(y))
print(z, type(z))

True <class 'bool'>
5 <class 'int'>
3.14 <class 'float'>
India <class 'str'>

In [15]:
a = "3.6"
s = float(a)
# s = int(a)        # ERROR

num1 = 5
s = str(num1)
s

'5'

In [21]:
a = "Hello K23SK"
k.upper()
a[2]
a[2:5]

'llo'

In [23]:
l = [1,2,3,4,5]
t = (1,2,3,4,5)
s = {1,2,3,4,5}
s.add(6)
s
s = {1, (2, 3)}  # Valid
# s = {1, [2, 3]}  # Invalid

{1, 2, 3, 4, 5, 6}

In [27]:
def greet(name):
  print("Hello",name)
greet("Sushant")

Hello Sushant

In [29]:
cars = ["Ford", "Volvo", "BMW"]
x = np.array(cars)
print(x)

['Ford' 'Volvo' 'BMW']

In [32]:
# 2025
sum1 = 0
for i in range(1,46,2):
  sum1 += i
# sum1
sum2 = 0
for i in range(1,10):
  sum2 += i*i*i
sum2

2025